/*unicodefont-size: 1rem;
    font-weight: 700;
    margin-top: 1rem; latin */


::-webkit-scrollbar {
    width: 0.45em;
    border-radius: 0.5em;
    background: #ddd;
}

::-webkit-scrollbar-track {
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans','Open Sans', 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
}


h1 span {
    font-weight: inherit;
    letter-spacing: 0.05em;
}

.vf1 {
    font-variation-settings: 'wght' 800, 'wdth' 100;
}

.vf2 {
    font-variation-settings: 'wght' 750, 'wdth' 96.43;
}

.vf3 {
    font-variation-settings: 'wght' 675, 'wdth' 92.86;
}

.vf4 {
    font-variation-settings: 'wght' 600, 'wdth' 89.29;
}

.vf5 {
    font-variation-settings: 'wght' 525, 'wdth' 85.72;
}

.vf6 {
    font-variation-settings: 'wght' 450, 'wdth' 82.15;
}

.vf7 {
    font-variation-settings: 'wght' 375, 'wdth' 78.58;
}

.vf8 {
    font-variation-settings: 'wght' 300, 'wdth' 75;
}

/*
.vf9{
    font-variation-settings: 'wght' 480, 'wdth' 80 ;
}

.vf10{
    font-variation-settings: 'wght' 440, 'wdth' 77.5 ;
}
*/

h3 {
    margin: 0 0.2em 0 0;
    font-size: 1em;
}


.first-uc:first-letter {
    text-transform: uppercase
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration-color: inherit;
    word-break: break-all;

}

.layout {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 100%;
    gap: 1em;
}

.col {
    flex: 1 1 auto;
    width: 50%;
    max-height: 75vh
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}



textarea {
    width: 100%;
    min-height: 20em;
    height: 100%;
}

fieldset {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 0.25em;
}

.flex fieldset {
    width: 100%;
}

fieldset fieldset {
    border: none;
    border-bottom: 1px solid #000;
    padding: 0.5em 0
}

fieldset fieldset:last-child {
    border-bottom: 0
}


fieldset textarea {
    border: none;
}

legend {
    font-weight: bold;
    padding: 0 0.2em;
    margin-left: -0.2em;
}


input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    display: block;
    font-family: inherit;
    font-size: 1.5em;
    margin-right: 0.5em;
}


.inputFonts {
    font-size: 2em !important;
    /*
    border-width:2px;
    background-color:#000;
    color: #fff
    */
}

.label__checkbox {
    margin-right: 0.5em;
}

.inputCheckbox {
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1em;
    margin-right: 0.5em;

}

ol,
ul {
    padding-left: 3em;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 0.2em 0;
    margin-left: -1em;
}

.liUrl {
    margin-right: 1em;
}


.brd {
    border: 1px solid #000;
}

.brd-rad {
    border-radius: 0.3em;
}


button {
    appearance: none;
    font-size: inherit;
    line-height: inherit;
}

.btn-default {
    border: 1px solid #000;
    padding: 0.3em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;


}


datalist {}




.pst-rlt {
    position: relative;
}

:root {
    --loadingImg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ccircle cx='12' cy='2.5' r='1.5' opacity='.14'/%3E%3Ccircle cx='16.75' cy='3.77' r='1.5' opacity='.29'/%3E%3Ccircle cx='20.23' cy='7.25' r='1.5' opacity='.43'/%3E%3Ccircle cx='21.50' cy='12.00' r='1.5' opacity='.57'/%3E%3Ccircle cx='20.23' cy='16.75' r='1.5' opacity='.71'/%3E%3Ccircle cx='16.75' cy='20.23' r='1.5' opacity='.86'/%3E%3Ccircle cx='12' cy='21.5' r='1.5'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='discrete' dur='0.75s' values='0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12' repeatCount='indefinite'/%3E%3C/g%3E%3C/svg%3E")
}

.loading-img {
    background-image: var(--loadingImg) !important;
}

.loading {
    background-image: var(--loadingImg);
    background-repeat: no-repeat;
    background-position: 0%;
    color: transparent;
    background-color: rgba(255, 255, 255, 0);
    opacity: 1 !important;
    border-color: transparent;

}


.search {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z'/%3E%3C/svg%3E");

    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5em);
    appearance: none
}

.search.loading {
    background-image: var(--loadingImg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5em);
    appearance: none;
    border-color: #000;
}

::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}

.inactive {
    opacity: 0;
    pointer-events: none;
}


.preview {
    font-size: 3em;
}

.hidden {
    display: none;
}

.label__checkbox {
    display: inline-block
}

.inputFonts {
    padding: 0.5em;
    text-align: center;
    appearance: none;
    outline: 0px;
}


.inputFonts {
    padding: 0.75em;
    text-align: center;
    appearance: none;
    outline: 0px;
    border-radius: 0.5em;
    border-width: 1px;
}


.accordion {}


.accordion-grd {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}


.accordion-grd.collapsed {
    grid-template-rows: 0fr;
}

.accordion-grd.expanded {
    grid-template-rows: 1fr;
}


.collapsed .acc-content {
    padding-bottom: 0em;
}


.acc-content {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2em;
    transition: padding 0.5s;
    flex-wrap: wrap;
}





.inputFonts {
    text-align: left
}


.btn-default {}

.btn-default {
    line-height: 1em;
    padding: 0.5em;
    display: inline-block;
    border: none;
    vertical-align: baseline;
    outline: none;
    height: auto !important;
}

.expanded .preview {
    /*
    padding: 0.5em;
    border: 1px solid #000;
    margin-bottom: 0.5em
    */
}


.input-wrp-select-type {
    margin-bottom: 1em;
}


.slider-wrp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding-bottom: 1em;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;

}

.slider-wrp label {
    display: block;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-stretch: 100%;
    font-variation-settings: normal;
}


:root {
    --stroke: #999;
    --stroke-width: 0.25%;
    --sidebar-bg: #fff;
    --textcolor: #000;
    --selection: var(--focus-color);
    --border-radius: 0.3em;
    --border-color: #777;
    --border-width: 2px;
    --scroll-thumb: #999;
    --scroll-thumb-height: 0.5em;
    --scroll-track-height: 0.1em;
    --scroll-width: 0.5rem;
    --focus-color: #000;
    --input-border-color: #777;
    --focus-border-color: var(--focus-color);
    --input-padding: 0.3em;
    --label-font-weight: 700;
    --label-color: #000;
    --strokeBG: #fff;
    --fill: #999;
}


/** range slider **/
/*Range Reset*/
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin-top: 0.75em;
}

/* Removes default focus */
input[type=range]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type=range] {
    /* slider thumb */
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--scroll-thumb);
    border-radius: 0.5em;
    height: var(--scroll-track-height);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    transform: translateY(-40%);
    /*custom styles*/
    background-color: var(--scroll-thumb);
    background-color: var(--border-color);
    height: var(--scroll-thumb-height);
    width: var(--scroll-thumb-height);
    border-radius: 1em;
    outline: 0.2em solid var(--sidebar-bg);
}

input[type=range]:focus::-webkit-slider-thumb {
    background-color: var(--focus-color);
}

/******** Firefox styles ********/
/* slider track */
input[type=range]::-moz-range-track {
    background-color: var(--scroll-thumb);
    border-radius: 0.5em;
    height: var(--scroll-track-height);
}

/* slider thumb */
input[type=range]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    transform: translateY(0%);
    /*custom styles*/
    background-color: var(--scroll-thumb);
    background-color: var(--border-color);
    height: var(--scroll-thumb-height);
    width: var(--scroll-thumb-height);
    border-radius: 1em;
    outline: 0.2em solid var(--sidebar-bg);
}

input[type=range]:focus::-moz-range-thumb {
    background-color: var(--focus-color);
}


@media (min-width:640px) {

    .acc-content {
        flex-wrap: nowrap;
    }

}


.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.main {
    grid-column-start: 2;
    grid-column-end: 4;
}


.layout {
    height: 100vh;
    gap: 2em;
}

.main,
.aside_fontlist {
    height: 100%;
    overflow: auto;
}

.pst-sticky {
    position: sticky;
    top: 0
}


#ul_fontlist {
    padding-left: 7ch;
}

#ul_fontlist li {
    margin-left: -2ch
}

h3 {}

img {
    border: 1px solid #ccc;
    image-rendering: pixelated;
}

.btn-default {
    border: 1px solid #000;
}

.dsp-non {
    display: none;
}


.section-letter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

figure {
    margin: 0;
}

.letter-links {
    list-style: none;
    padding-left: 0;
}


.li-nav {
    padding-left: 0;
    margin-left: 0;
    background: #000;
    color: #fff;
    display: inline-block;
    ;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5em;
}

.pre{
    background-color:#eee;
    border-radius: 0.2em;
    display:inline-block;
}

#spanApiValidity{

}
.valid{
    color:green
}

.invalid{
    color:red
}